<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Chp_v2</servlet-name>
		<servlet-class>com.cebuhomepages.site.Chp_v2Servlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>blog</servlet-name>
		<servlet-class>com.cebuhomepages.site.BlogServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Chp_v2</servlet-name>
		<url-pattern>/chp_v2</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>blog</servlet-name>
		<url-pattern>/blog</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
